<!-- wp:template-part {"slug":"header","theme":"builder-and-developer","tagName":"header"} /-->

<!-- wp:pattern {"slug":"builder-and-developer/home-banner"} /-->

<!-- wp:group {"tagName":"main","className":"project-section","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","contentSize":"75%"}} -->
<main class="wp-block-group project-section" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:pattern {"slug":"builder-and-developer/project-section"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"builder-and-developer/about-section"} /-->
<!-- wp:pattern {"slug":"builder-and-developer/faq-section"} /-->
<!-- wp:pattern {"slug":"builder-and-developer/news-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"builder-and-developer","tagName":"footer"} /-->
